In [5]:
import pandas as pd
import re
df = pd.read_csv('C:\\Users\\ADMIN\\FakeNewsNet.csv')
df.head()

,title,news_url,source_domain,tweet_num,real
0,Kandi Burruss Explodes Over Rape Accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,People's Choice Awards 2018: The best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,Sophia Bush Sends Sweet Birthday Message to 'O...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,Colombian singer Maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,Gossip Girl 10 Years Later: How Upper East Sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1

# Convert to lower text

In [6]:
df['title'] = df['title'].str.lower()
df.head()

,title,news_url,source_domain,tweet_num,real
0,kandi burruss explodes over rape accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,people's choice awards 2018: the best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,sophia bush sends sweet birthday message to 'o...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,colombian singer maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,gossip girl 10 years later: how upper east sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1

# Remove Links and Next line chara..

In [7]:
def remove_links(text):
    if not isinstance(text, str):
        return text
    # Remove links
    text = re.sub(r'http\S+|www\S+|https\S+', '', text)
    # Remove newline characters
    text = text.replace('\n', ' ')
    return text

In [8]:
# Apply function to relevant columns
df['title'] = df['title'].apply(remove_links)
df.head()

,title,news_url,source_domain,tweet_num,real
0,kandi burruss explodes over rape accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,people's choice awards 2018: the best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,sophia bush sends sweet birthday message to 'o...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,colombian singer maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,gossip girl 10 years later: how upper east sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1

# Remove words containing numbers and extra space

In [9]:
def remove_extraSpace(text):
    if not isinstance(text, str):
        return text
    # Remove words containing numbers
    text = re.sub(r'\b\w*\d\w*\b', '', text)
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text)
    return text.strip() 

df['title'] = df['title'].apply(remove_extraSpace)
#df.head()
df.sample(frac=1).head(5)

,title,news_url,source_domain,tweet_num,real
19699,gwyneth paltrow is consciously cool about dako...,http://www.bravotv.com/personal-space/gwyneth-...,www.bravotv.com,17,1
11619,blue ivy just schooled beyonce and jay z at th...,https://www.nowtolove.com.au/celebrity/celeb-n...,www.nowtolove.com.au,0,1
14760,victoria beckham says she and david would no l...,https://closeronline.co.uk/celebrity/news/vict...,closeronline.co.uk,36,1
19182,miley cyrus is liam hemsworth’s “cash cow”?,www.imdb.com/news/ni61471577,www.imdb.com,13,0
13019,billy ray cyrus,https://en.wikipedia.org/wiki/Billy_Ray_Cyrus,en.wikipedia.org,72,1

# Removal of special characters

In [10]:
def remove_spl_chars(text):
    text = re.sub('[^a-zA-Z0-9]',' ', text)
    return text
df['title'] = df['title'].apply(remove_spl_chars)
df.sample(frac=1).head(5)

,title,news_url,source_domain,tweet_num,real
7512,radio disney music awards,https://en.wikipedia.org/wiki/2018_Radio_Disne...,en.wikipedia.org,68,1
6248,donald trump billy bush interview scrambles ...,http://time.com/4523755/donald-trump-leaked-ta...,time.com,40,1
16712,mccain palin,https://web.archive.org/web/20080906104758/htt...,web.archive.org,307,1
13681,blake shelton gwen stefani saved my life af...,www.usmagazine.com/celebrity-news/news/blake-s...,www.usmagazine.com,51,0
19535,justin bieber dating hailee steinfeld,www.news.com.au/entertainment/celebrity-life/h...,www.news.com.au,1020,0

## Removal of Stopwords

In [11]:
from nltk.corpus import stopwords
#", ".join(stopwords.words('english'))

In [12]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in text.split() if word not in STOPWORDS])

df['title'] = df['title'].apply(remove_stopwords)
df.sample(frac=1).head(5)
#df.head()

,title,news_url,source_domain,tweet_num,real
14472,peter travers spider man homecoming really ama...,https://www.rollingstone.com/movies/movie-revi...,www.rollingstone.com,129,1
7980,justin timberlake spice girl hook emma bunton ...,https://www.dailymail.co.uk/tvshowbiz/article-...,www.dailymail.co.uk,0,1
21434,kate hudson inch golden globes haircut came,www.hollywoodreporter.com/news/kate-hudsons-a-...,www.hollywoodreporter.com,12,0
10698,heidi montag spencer pratt talk future play da...,https://www.inquisitr.com/4441602/heidi-montag...,www.inquisitr.com,112,1
11352,ultimate disney world christmas guide,https://www.disneytouristblog.com/disney-world...,www.disneytouristblog.com,35,1

# Stemming

In [13]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem_word(text):
    return " ".join([ps.stem(word) for word in text.split()])
df['text'] = df['title'].apply(stem_word)
#df.head()
df.sample(frac=1).head(5)

,title,news_url,source_domain,tweet_num,real,text
20352,kate middleton gives birth royal baby boy,https://www.etonline.com/kate-middleton-gives-...,www.etonline.com,42,1,kate middleton give birth royal babi boy
11155,kylie jenner travis scott timeline relationship,www.usmagazine.com/celebrity-news/pictures/kyl...,www.usmagazine.com,122,0,kyli jenner travi scott timelin relationship
17087,zara tindall,https://en.wikipedia.org/wiki/Zara_Tindall,en.wikipedia.org,20,1,zara tindal
16073,much money cast bachelor paradise allegedly ma...,https://www.businessinsider.com/bachelor-in-pa...,www.businessinsider.com,70,1,much money cast bachelor paradis allegedli mak...
7814,corey feldman wants terry crews help stop sexu...,https://finance.yahoo.com/news/corey-feldman-w...,finance.yahoo.com,13,1,corey feldman want terri crew help stop sexual...

# Lemmatization

In [14]:
import nltk
from nltk import pos_tag
from nltk.corpus import wordnet 
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V": wordnet.VERB, "J": wordnet.ADJ, "R": wordnet.ADV}
     

def lemm_word(text):
    pos_text = pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_text])

In [15]:
df['text'] = df['text'].apply(lambda x: lemm_word(x))
df.head()

,title,news_url,source_domain,tweet_num,real,text
0,kandi burruss explodes rape accusation real ho...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1,kandi burruss explod rape accus real housew at...
1,people choice awards best red carpet looks,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1,peopl choic award best red carpet look
2,sophia bush sends sweet birthday message one t...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1,sophia bush send sweet birthday messag one tre...
3,colombian singer maluma sparks rumours inappro...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1,colombian singer maluma spark rumour inappropr...
4,gossip girl years later upper east siders shoc...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1,gossip girl year later upper east sider shock ...

In [34]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

## Convert the text data to a matrix of TF-IDF features

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=5000)
X = vectorizer.fit_transform(df['text']).toarray()
y = df['real']

In [17]:
# Print X and y shapes
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

# Print X (first 5 rows) and y (first 5 values) to understand what they contain
print("First 5 rows of X:\n", X[:5])
print("First 5 values of y:\n", y[:5])

Shape of X: (23196, 5000)
Shape of y: (23196,)
First 5 rows of X:
 [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
First 5 values of y:
 0    1
1    1
2    1
3    1
4    1
Name: real, dtype: int64

## Split the dataset into Train, Test, and Validation sets

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.33, random_state=42)

In [19]:
print(f"Train set size: {len(X_train)}")
print(f"Validation set size: {len(X_val)}")
print(f"Test set size: {len(X_test)}")

print(y_train)

Train set size: 10878
Validation set size: 5359
Test set size: 6959
7357     1
8401     1
13564    1
2552     0
2882     0
        ..
11439    1
7607     1
150      1
5949     1
6745     0
Name: real, Length: 10878, dtype: int64

In [20]:
print(f'Train data size: {X_train.shape}')

Train data size: (10878, 5000)

## 1. SVM Model Building

In [42]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report

### Initialize SVM classifier

In [43]:
svm_clf = SVC(kernel='linear', random_state=42)

### Train the classifier

In [44]:
svm_clf.fit(X_train, y_train)

SVC(kernel='linear', random_state=42)

### Predict on the test set

In [45]:
y_pred = svm_clf.predict(X_test)

### accuracy score and confusion matrix

In [46]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.8277051300474206
Confusion Matrix:
[[ 822  868]
 [ 331 4938]]
Classification Report:
              precision    recall  f1-score   support

           0       0.71      0.49      0.58      1690
           1       0.85      0.94      0.89      5269

    accuracy                           0.83      6959
   macro avg       0.78      0.71      0.74      6959
weighted avg       0.82      0.83      0.82      6959

## 2. Random Forest Model Building

In [47]:
from sklearn.ensemble import RandomForestClassifier

### Initialize Random Forest classifier

In [48]:
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)

### Train the classifier

In [49]:
rf_clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

### Predict on the test set

In [50]:
y_pred_rf = rf_clf.predict(X_test)

### accuracy score and confusion matrix

In [51]:
### Calculate the accuracy score
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print("Random Forest Accuracy:", accuracy_rf)

# Generate the confusion matrix
cm_rf = confusion_matrix(y_test, y_pred_rf)
print("Random Forest Confusion Matrix:")
print(cm_rf)

print("Classification Report:")
print(classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.8173588159218278
Random Forest Confusion Matrix:
[[ 819  871]
 [ 400 4869]]
Classification Report:
              precision    recall  f1-score   support

           0       0.67      0.48      0.56      1690
           1       0.85      0.92      0.88      5269

    accuracy                           0.82      6959
   macro avg       0.76      0.70      0.72      6959
weighted avg       0.81      0.82      0.81      6959

## 3. Gradient Boosting Model Building

In [21]:
from sklearn.ensemble import GradientBoostingClassifier

### Initialize Gradient Boosting classifier

In [26]:
gb_clf = GradientBoostingClassifier(random_state=42)

### Train the classifier

In [28]:
gb_clf.fit(X_train, y_train)

GradientBoostingClassifier(random_state=42)

### Predict on the test set

In [30]:
y_pred_gb = gb_clf.predict(X_test)

### accuracy score and confusion matrix

In [31]:
accuracy_gb = accuracy_score(y_test, y_pred_gb)
print("Gradient Boosting Accuracy:", accuracy_gb)

cm_gb = confusion_matrix(y_test, y_pred_gb)
print("Gradient Boosting Confusion Matrix:")
print(cm_gb)

cr_gb = classification_report(y_test, y_pred_gb)
print("Gradient Boosting Classification Report:")
print(cr_gb)

Gradient Boosting Accuracy: 0.8037074292283374
Gradient Boosting Confusion Matrix:
[[ 458 1232]
 [ 134 5135]]
Gradient Boosting Classification Report:
              precision    recall  f1-score   support

           0       0.77      0.27      0.40      1690
           1       0.81      0.97      0.88      5269

    accuracy                           0.80      6959
   macro avg       0.79      0.62      0.64      6959
weighted avg       0.80      0.80      0.77      6959